.row
    .col-xl-6
        sb-card
            .card-header
                fa-icon.mr-1([icon]='["fas", "chart-area"]')
                | Grafico de Area
            .card-body
                sb-charts-area
                
            
    .col-xl-6
        sb-card
            .card-header
                fa-icon.mr-1([icon]='["fas", "chart-bar"]')
                | Grafico de Barras
            .card-body
                sb-charts-bar
