sb-layout-auth
    .container
        .row.justify-content-center
            .col-lg-5
                .card.shadow-lg.border-0.rounded-lg.mt-5
                    .card-header
                        h3.text-center.font-weight-light.my-4 Recuperacion de clave
                    .card-body
                        .small.mb-3.text-muted Introduzca su correo electrónico y le enviaremos un link para cambiar su clave.
                        form
                            .form-group
                                label.small.mb-1(for='inputEmailAddress') Email
                                input#inputEmailAddress.form-control.py-4(type='email', aria-describedby='emailHelp', placeholder='Introduzca su e-mail')
                            .form-group.d-flex.align-items-center.justify-content-between.mt-4.mb-0
                                a.small(routerLink='/auth/login') Regresar al login
                                a.btn.btn-primary(routerLink='/auth/login') Recuperar Clave
                    .card-footer.text-center
                        .small
                            a(routerLink='/auth/register') Necesita una cuenta? Regístrese!
