sb-layout-error
    .container
        .row.justify-content-center
            .col-lg-6
                .text-center.mt-4
                    img.mb-4.img-error(src='assets/img/error-404-monochrome.svg')
                    p.lead El URL buscado no se encuentra en este servidor.
                    a(routerLink='/dashboard')
                        fa-icon.mr-1([icon]='["fas", "arrow-left"]')
                        | Regresar al Panel Principal
