sb-layout-auth
    .container
        .row.justify-content-center
            .col-lg-7
                .card.shadow-lg.border-0.rounded-lg.mt-5
                    .card-header
                        h3.text-center.font-weight-light.my-4 Crear Cuenta
                    .card-body
                        form
                            .form-row
                                .col-md-6
                                    .form-group
                                        label.small.mb-1(for='inputFirstName') Nombre
                                        input#inputFirstName.form-control.py-4(type='text', placeholder='Ingrese su Nombre')
                                .col-md-6
                                    .form-group
                                        label.small.mb-1(for='inputLastName') Apellido
                                        input#inputLastName.form-control.py-4(type='text', placeholder='Ingrese su Apellido')
                            .form-group
                                label.small.mb-1(for='inputEmailAddress') Email
                                input#inputEmailAddress.form-control.py-4(type='email', aria-describedby='emailHelp', placeholder='Ingrese su e-mail')
                            .form-row
                                .col-md-6
                                    .form-group
                                        label.small.mb-1(for='inputPassword') Contraseña
                                        input#inputPassword.form-control.py-4(type='password', placeholder='Ingrese su Contraseña')
                                .col-md-6
                                    .form-group
                                        label.small.mb-1(for='inputConfirmPassword') Confirme su Contraseña
                                        input#inputConfirmPassword.form-control.py-4(type='password', placeholder='Confirme su Contraseña')
                            .form-group.mt-4.mb-0
                                a.btn.btn-primary.btn-block(routerLink='/dashboard') Crear Cuenta
                    .card-footer.text-center
                        .small
                            a(routerLink='/auth/login') Ya tiene una Cuenta? Ir a la página de Ingreso
