sb-layout-error
    .container
        .row.justify-content-center
            .col-lg-6
                .text-center.mt-4
                    h1.display-1 401
                    p.lead No Autorizado
                    p El acceso a este recurso es no autorizado.
                    a(routerLink='/dashboard')
                        fa-icon.mr-1([icon]='["fas", "arrow-left"]')
                        | Regresar al Panel Principal
